<div class="min-w-[100vw] max-w-[100vw] min-h-[100vh] max-h-max overflow-x-hidden" style="background: rgb(255,214,247);
background: linear-gradient(124deg, rgba(255,214,247,1) 0%, rgba(243,242,250,1) 62%, rgba(209,225,255,1) 100%);">
  <app-top-bar (searchQueryOutput)="onSearch($event)"></app-top-bar>
  <div *ngIf="!topBar?.searchSubmitted"
    class="z-10 min-h-[100vh] max-w-[100vw] max-h-max flex justify-center items-center">
    <div class="h-[100%] w-[100%] flex flex-col justify-center items-center">
      <div>
        <div class="flex items-center text-[1.5rem] font-semibold mb-10">
          <p class="">Welcome to&nbsp;</p>
          <p class="text-[#ff2e63]">GitUncovered</p>
        </div>
      </div>
      <div class="flex flex-col items-center gap-6">
        <img src="/assets/githublogo.svg" alt="" class="h-28">
        <p class="font-semibold text-[1.1rem] max-w-xs text-center">Search for the github username to show the profile
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="topBar?.searchSubmitted && userNotFound">
    <div class="z-10 min-h-[100vh] max-w-[100vw] max-h-max flex justify-center items-center">
      <div class="h-[100%] w-[100%] flex flex-col justify-center items-center">
        <div>
          <div class="flex items-center text-[1.5rem] font-semibold mb-10">
            <p class="">User&nbsp;</p>
            <p class="text-[#ff2e63]">{{ topBar.searchQuery }}</p>
            <p class="">&nbsp;not found</p>
          </div>
        </div>
        <div class="flex flex-col items-center gap-6">
          <img src="/assets/githublogo.svg" alt="" class="h-28">
          <p class="font-semibold text-[1.1rem] max-w-xs text-center">Search for valid github username to show the profile
          </p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="topBar?.searchSubmitted && !userNotFound" class="-z-10 pt-[15vh] min-h-[100vh] max-w-[100vw] max-h-max  overflow-x-hidden">
    <!-- {{ topBar.searchQuery }} -->
    <app-profile-info [userData]="userData" [isLoading]="isLoading"
      [starred_repos_count]="starred_repos_count"></app-profile-info>
    <div class="mt-10 px-10 gap-8 overflow-x-hidden flex flex-wrap justify-between">
      <div *ngIf="isLoading">
        <ng-container *ngFor="let i of [1,2,3]">
          <ngx-skeleton-loader [theme]="{height: '12rem', width: '25vw' }" count="1" appearance="line"
            class="mr-3"></ngx-skeleton-loader>
        </ng-container>
      </div>
      <div *ngIf="!isLoading">
        <app-repositories [githubUsername]="userData.login||''"></app-repositories>
      </div>
    </div>
  </div>
</div>